{{#each merchandise in merchandise}}
  <div class="presented_item">
  <p>{{merchandise.name}}
  </p>
  {{#if merchandise.photo}}
  <img {{bind-attr src=merchandise.photo_path}} alt="thumbnail">
  {{else}}
    image unavailable
  {{/if}}
  <div class="description_style">
    {{merchandise.description}}
  </div>
  <div class="number_and_price">
    {{#if merchandise.number_available}}
      number in stock:  {{merchandise.number_available}}
      price: {{merchandise.retail_price}}
    {{else}}Item currently unavailable. Will be restocked
    {{/if}}
  </div>
  </div>
  {{else}}
    There are no items currently in the store.
{{/each}}
